.bg-women {
    background-color: #FDE2FF;
    /* width: 100%;
    height: 548px; */
    width: 100%;
    max-height: 548px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.bg-men {
    background-color: #D6E6FF;
    /* width: 100%;
    height: 548px; */
    width: 100%;
    max-height: 548px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.women-title {
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
color: #720060;

}
.men-title {
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
color: #002772;

}

.subtitle {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #3F3F3F;

}

.description {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #1E1E1E;

}

.men {
    background-color: #D6E6FF;
}

.unavailable {
    background-color: #D8D7D7;
}

.card-product {
    
    position: absolute;
    width: 80%;
    /* height: 580px; */
    left: 147px;
    top: 126px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.card-layout {
    display: flex;
    justify-content: center;
    height: 65vmax;
    align-items: center;
}

.card-content {
    display: flex;
    gap: 6rem;
    padding: 4rem;
}

.women-btn-buy {
    box-sizing: border-box;
width: 259px;
height: 42px;
background: #720060;
border-radius: 4px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}

.men-btn-buy {
    box-sizing: border-box;
width: 259px;
height: 42px;
background: #002772;
border-radius: 4px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}



.women-btn-next {
    box-sizing: border-box;
width: 259px;
height: 42px;
background: #FFFFFF;
border: 3px solid #720060;
border-radius: 4px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #720060;
}

.men-btn-next {
    box-sizing: border-box;
width: 259px;
height: 42px;
background: #FFFFFF;
border: 3px solid #002772;
border-radius: 4px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #002772;
}

.unv-btn-next {
    box-sizing: border-box;
width: 465px;
height: 42px;
background: #FFFFFF;
border: 3px solid #000000;
border-radius: 4px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #3F3F3F;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .unv-bg {
    z-index: 0;
    position: relative;
    justify-content: center;
    display: flex;
    margin: 7rem;
    margin-right: -2rem;
}
.unv-text {
    display: grid;
    justify-content: center;
    top: -23rem;
    position: relative;
}
  
.women-circle {
    width: 18px;
height: 18px;
background: #720060;
border-radius: 18px;
}

.women-circle-outline {
    width: 18px;
height: 18px;
background: #FFFFFF;
border: 1px solid #720060;
border-radius: 18px;
}

.men-circle {
    width: 18px;
height: 18px;
background: #002772;
border-radius: 18px;
}

.men-circle-outline {
    width: 18px;
height: 18px;
background: #FFFFFF;
border: 1px solid #002772;
border-radius: 18px;
}
.circle {
    width: 18px;
height: 18px;
border-radius: 18px;
}

.circle-outline {
    width: 18px;
height: 18px;
background: #FFFFFF;
border: 1px solid;
border-radius: 18px;
}